@import "scaffolding.scss";

p {
    margin-top: 0;
    padding-left: 30px;

    font-size: 20px;
}

a {
    text-decoration: none;

    &:hover {
        color: blue;
        opacity: 0.4;
    }
}

span {
    color: rgb(86, 129, 146);
}

.container {
    width: 100%;
    height: auto;
    margin-left: 2%;
    margin-bottom: 10%;

    position: relative;

    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.wrapper {
    width: 100vw;
    max-width: 800px;
    margin: 0 auto;
}

.page-main {
    width: 100vw;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-wrapper {
    width: 80%;
    max-width: 800px;
    min-height: 400px;

    display: flex;
    flex-direction: row;
}

.menu-list {
    background-color: green;
}

.slide-wrapper {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;

    position: relative;
    top: 0;

    flex-shrink: 0;

    transition: 600ms all ease-in-out;

    &--1 {
        left: -100%;
    }
    
    &--2 {
        left: -100%;
    }

    &--3 {
        left: -100%;
    }
}

input {
    display: none;
}

.button {
    &:checked {
        display: none;
    }
}

.button-0 {
    &:checked {
        + input + input + div .button-label:nth-child(1) {
            display: none;
        }

         + input + input + div + div div {
            left: -100%;
        }

         + input + input + div + div div + div {
            left: -100%;
        }

         + input + input + div + div div + div + div {
            left: -100%;
        }
    }
}

.button-1 {
    &:checked {
        + input + div .button-label:nth-child(2) {
            display: none;
        }

         + input + div + div div + div {
            left: -200%;
        }

         + input + div + div div + div + div {
            left: -200%;
        }
    }
}

.button-2 {
    &:checked {
        + div .button-label:nth-child(3) {
            display: none;
        }

        + div + div div {
            left: 0;
        }

        + div + div div + div{
            left: 0;
        }
    }
}

.button-label {
    width: 100%;
    min-width: 150px;
    height: 50px;

    display: block;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
    color: white;
    text-transform: uppercase;
    background-color: rgba(172, 172, 172, 1);
    cursor: pointer;

    border: solid 2px white;
    transition: 100ms all ease-in-out;

    box-sizing: border-box;

    &:hover {
        opacity: 0.7;
    }
}

.nav-container {
    max-width: 150px;

    display: flex;
    flex-direction: column;
}

.photo-wrapper {
    margin: 0 auto;
    margin-bottom: 9%;
    width: 50vw;
    height: 50vw;
    max-width: 300px;
    max-height: 300px;

    background-image: url("../img/ava.jpg");
    background-size: cover;
    border-radius: 50%;
    background-color: grey;

    opacity: 0;
    transition: 600ms opacity ease-in-out;
}

.animated-black {
    width: 80%;

    position: relative;
    opacity: 0.8;
    z-index: 10;
}

.animated-blue {
    width: 80%;
    margin-left: -1%;

    position: absolute;
    top: 0;
    z-index: 1;
}

@media (max-width: 500px) {
    p {
        padding-left: 0;
    }

    .button-label {
        width: 100%;
    }

    .nav-container {
        max-width: 100%;
        padding-bottom: 15%;
    }

    .photo-wrapper {
        margin-bottom: 7%;
    }

    .main-wrapper {
        flex-direction: column;
    }
}

.smvnDzUW_0 {
    stroke-dasharray: 139 141;
    stroke-dashoffset: 140;
    animation: smvnDzUW_draw 30ms ease-in-out 0ms forwards;
}

.smvnDzUW_1 {
    stroke-dasharray: 203 205;
    stroke-dashoffset: 204;
    animation: smvnDzUW_draw 44ms ease-in-out 30ms forwards;
}

.smvnDzUW_2 {
    stroke-dasharray: 262 264;
    stroke-dashoffset: 263;
    animation: smvnDzUW_draw 57ms ease-in-out 75ms forwards;
}

.smvnDzUW_3 {
    stroke-dasharray: 239 241;
    stroke-dashoffset: 240;
    animation: smvnDzUW_draw 52ms ease-in-out 132ms forwards;
}

.smvnDzUW_4 {
    stroke-dasharray: 246 248;
    stroke-dashoffset: 247;
    animation: smvnDzUW_draw 54ms ease-in-out 185ms forwards;
}

.smvnDzUW_5 {
    stroke-dasharray: 286 288;
    stroke-dashoffset: 287;
    animation: smvnDzUW_draw 62ms ease-in-out 239ms forwards;
}

.smvnDzUW_6 {
    stroke-dasharray: 240 242;
    stroke-dashoffset: 241;
    animation: smvnDzUW_draw 52ms ease-in-out 302ms forwards;
}

.smvnDzUW_7 {
    stroke-dasharray: 407 409;
    stroke-dashoffset: 408;
    animation: smvnDzUW_draw 89ms ease-in-out 355ms forwards;
}

.smvnDzUW_8 {
    stroke-dasharray: 240 242;
    stroke-dashoffset: 241;
    animation: smvnDzUW_draw 52ms ease-in-out 444ms forwards;
}

.smvnDzUW_9 {
    stroke-dasharray: 239 241;
    stroke-dashoffset: 240;
    animation: smvnDzUW_draw 52ms ease-in-out 497ms forwards;
}

.smvnDzUW_10 {
    stroke-dasharray: 242 244;
    stroke-dashoffset: 243;
    animation: smvnDzUW_draw 53ms ease-in-out 550ms forwards;
}

.smvnDzUW_11 {
    stroke-dasharray: 203 205;
    stroke-dashoffset: 204;
    animation: smvnDzUW_draw 44ms ease-in-out 603ms forwards;
}

.smvnDzUW_12 {
    stroke-dasharray: 55 57;
    stroke-dashoffset: 56;
    animation: smvnDzUW_draw 12ms ease-in-out 647ms forwards;
}

.smvnDzUW_13 {
    stroke-dasharray: 210 212;
    stroke-dashoffset: 211;
    animation: smvnDzUW_draw 46ms ease-in-out 660ms forwards;
}

.smvnDzUW_14 {
    stroke-dasharray: 310 312;
    stroke-dashoffset: 311;
    animation: smvnDzUW_draw 68ms ease-in-out 706ms forwards;
}

.smvnDzUW_15 {
    stroke-dasharray: 263 265;
    stroke-dashoffset: 264;
    animation: smvnDzUW_draw 57ms ease-in-out 774ms forwards;
}

.smvnDzUW_16 {
    stroke-dasharray: 203 205;
    stroke-dashoffset: 204;
    animation: smvnDzUW_draw 44ms ease-in-out 832ms forwards;
}

.smvnDzUW_17 {
    stroke-dasharray: 263 265;
    stroke-dashoffset: 264;
    animation: smvnDzUW_draw 57ms ease-in-out 877ms forwards;
}

.smvnDzUW_18 {
    stroke-dasharray: 153 155;
    stroke-dashoffset: 154;
    animation: smvnDzUW_draw 33ms ease-in-out 934ms forwards;
}

.smvnDzUW_19 {
    stroke-dasharray: 242 244;
    stroke-dashoffset: 243;
    animation: smvnDzUW_draw 53ms ease-in-out 968ms forwards;
}

.smvnDzUW_20 {
    stroke-dasharray: 307 309;
    stroke-dashoffset: 308;
    animation: smvnDzUW_draw 67ms ease-in-out 1021ms forwards;
}

.smvnDzUW_21 {
    stroke-dasharray: 263 265;
    stroke-dashoffset: 264;
    animation: smvnDzUW_draw 57ms ease-in-out 1089ms forwards;
}

.smvnDzUW_22 {
    stroke-dasharray: 154 156;
    stroke-dashoffset: 155;
    animation: smvnDzUW_draw 33ms ease-in-out 1147ms forwards;
}

.smvnDzUW_23 {
    stroke-dasharray: 307 309;
    stroke-dashoffset: 308;
    animation: smvnDzUW_draw 67ms ease-in-out 1181ms forwards;
}

.smvnDzUW_24 {
    stroke-dasharray: 154 156;
    stroke-dashoffset: 155;
    animation: smvnDzUW_draw 33ms ease-in-out 1248ms forwards;
}

.smvnDzUW_25 {
    stroke-dasharray: 242 244;
    stroke-dashoffset: 243;
    animation: smvnDzUW_draw 53ms ease-in-out 1282ms forwards;
}

.smvnDzUW_26 {
    stroke-dasharray: 331 333;
    stroke-dashoffset: 332;
    animation: smvnDzUW_draw 72ms ease-in-out 1335ms forwards;
}

.smvnDzUW_27 {
    stroke-dasharray: 153 155;
    stroke-dashoffset: 154;
    animation: smvnDzUW_draw 33ms ease-in-out 1408ms forwards;
}

.smvnDzUW_28 {
    stroke-dasharray: 263 265;
    stroke-dashoffset: 264;
    animation: smvnDzUW_draw 57ms ease-in-out 1442ms forwards;
}

.smvnDzUW_29 {
    stroke-dasharray: 139 141;
    stroke-dashoffset: 140;
    animation: smvnDzUW_draw 30ms ease-in-out 1500ms forwards;
}

.smvnDzUW_30 {
    stroke-dasharray: 203 205;
    stroke-dashoffset: 204;
    animation: smvnDzUW_draw 44ms ease-in-out 1530ms forwards;
}

.smvnDzUW_31 {
    stroke-dasharray: 262 264;
    stroke-dashoffset: 263;
    animation: smvnDzUW_draw 57ms ease-in-out 1575ms forwards;
}

.smvnDzUW_32 {
    stroke-dasharray: 239 241;
    stroke-dashoffset: 240;
    animation: smvnDzUW_draw 52ms ease-in-out 1632ms forwards;
}

.smvnDzUW_33 {
    stroke-dasharray: 246 248;
    stroke-dashoffset: 247;
    animation: smvnDzUW_draw 54ms ease-in-out 1685ms forwards;
}

.smvnDzUW_34 {
    stroke-dasharray: 286 288;
    stroke-dashoffset: 287;
    animation: smvnDzUW_draw 62ms ease-in-out 1739ms forwards;
}

.smvnDzUW_35 {
    stroke-dasharray: 240 242;
    stroke-dashoffset: 241;
    animation: smvnDzUW_draw 52ms ease-in-out 1802ms forwards;
}

.smvnDzUW_36 {
    stroke-dasharray: 407 409;
    stroke-dashoffset: 408;
    animation: smvnDzUW_draw 89ms ease-in-out 1855ms forwards;
}

.smvnDzUW_37 {
    stroke-dasharray: 240 242;
    stroke-dashoffset: 241;
    animation: smvnDzUW_draw 52ms ease-in-out 1944ms forwards;
}

.smvnDzUW_38 {
    stroke-dasharray: 239 241;
    stroke-dashoffset: 240;
    animation: smvnDzUW_draw 52ms ease-in-out 1997ms forwards;
}

.smvnDzUW_39 {
    stroke-dasharray: 242 244;
    stroke-dashoffset: 243;
    animation: smvnDzUW_draw 53ms ease-in-out 2050ms forwards;
}

.smvnDzUW_40 {
    stroke-dasharray: 203 205;
    stroke-dashoffset: 204;
    animation: smvnDzUW_draw 44ms ease-in-out 2103ms forwards;
}

.smvnDzUW_41 {
    stroke-dasharray: 55 57;
    stroke-dashoffset: 56;
    animation: smvnDzUW_draw 12ms ease-in-out 2147ms forwards;
}

.smvnDzUW_42 {
    stroke-dasharray: 210 212;
    stroke-dashoffset: 211;
    animation: smvnDzUW_draw 46ms ease-in-out 2160ms forwards;
}

.smvnDzUW_43 {
    stroke-dasharray: 310 312;
    stroke-dashoffset: 311;
    animation: smvnDzUW_draw 68ms ease-in-out 2206ms forwards;
}

.smvnDzUW_44 {
    stroke-dasharray: 263 265;
    stroke-dashoffset: 264;
    animation: smvnDzUW_draw 57ms ease-in-out 2274ms forwards;
}

.smvnDzUW_45 {
    stroke-dasharray: 203 205;
    stroke-dashoffset: 204;
    animation: smvnDzUW_draw 44ms ease-in-out 2332ms forwards;
}

.smvnDzUW_46 {
    stroke-dasharray: 263 265;
    stroke-dashoffset: 264;
    animation: smvnDzUW_draw 57ms ease-in-out 2377ms forwards;
}

.smvnDzUW_47 {
    stroke-dasharray: 153 155;
    stroke-dashoffset: 154;
    animation: smvnDzUW_draw 33ms ease-in-out 2434ms forwards;
}

.smvnDzUW_48 {
    stroke-dasharray: 242 244;
    stroke-dashoffset: 243;
    animation: smvnDzUW_draw 53ms ease-in-out 2468ms forwards;
}

.smvnDzUW_49 {
    stroke-dasharray: 307 309;
    stroke-dashoffset: 308;
    animation: smvnDzUW_draw 67ms ease-in-out 2521ms forwards;
}

.smvnDzUW_50 {
    stroke-dasharray: 263 265;
    stroke-dashoffset: 264;
    animation: smvnDzUW_draw 57ms ease-in-out 2589ms forwards;
}

.smvnDzUW_51 {
    stroke-dasharray: 154 156;
    stroke-dashoffset: 155;
    animation: smvnDzUW_draw 33ms ease-in-out 2647ms forwards;
}

.smvnDzUW_52 {
    stroke-dasharray: 307 309;
    stroke-dashoffset: 308;
    animation: smvnDzUW_draw 67ms ease-in-out 2681ms forwards;
}

.smvnDzUW_53 {
    stroke-dasharray: 154 156;
    stroke-dashoffset: 155;
    animation: smvnDzUW_draw 33ms ease-in-out 2748ms forwards;
}

.smvnDzUW_54 {
    stroke-dasharray: 242 244;
    stroke-dashoffset: 243;
    animation: smvnDzUW_draw 53ms ease-in-out 2782ms forwards;
}

.smvnDzUW_55 {
    stroke-dasharray: 331 333;
    stroke-dashoffset: 332;
    animation: smvnDzUW_draw 72ms ease-in-out 2835ms forwards;
}

.smvnDzUW_56 {
    stroke-dasharray: 153 155;
    stroke-dashoffset: 154;
    animation: smvnDzUW_draw 33ms ease-in-out 2908ms forwards;
}

.smvnDzUW_57 {
    stroke-dasharray: 263 265;
    stroke-dashoffset: 264;
    animation: smvnDzUW_draw 57ms ease-in-out 2942ms forwards;
}

@keyframes smvnDzUW_draw {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes smvnDzUW_fade {
    0% {
        stroke-opacity: 1;
    }
    94.44444444444444% {
        stroke-opacity: 1;
    }
    100% {
        stroke-opacity: 0;
    }
}




.aWgFSOuJ_0 {
    stroke-dasharray: 263 265;
    stroke-dashoffset: 264;
    animation: aWgFSOuJ_draw 57ms ease-in-out 0ms forwards;
}

.aWgFSOuJ_1 {
    stroke-dasharray: 153 155;
    stroke-dashoffset: 154;
    animation: aWgFSOuJ_draw 33ms ease-in-out 57ms forwards;
}

.aWgFSOuJ_2 {
    stroke-dasharray: 331 333;
    stroke-dashoffset: 332;
    animation: aWgFSOuJ_draw 71ms ease-in-out 90ms forwards;
}

.aWgFSOuJ_3 {
    stroke-dasharray: 242 244;
    stroke-dashoffset: 243;
    animation: aWgFSOuJ_draw 52ms ease-in-out 162ms forwards;
}

.aWgFSOuJ_4 {
    stroke-dasharray: 154 156;
    stroke-dashoffset: 155;
    animation: aWgFSOuJ_draw 33ms ease-in-out 214ms forwards;
}

.aWgFSOuJ_5 {
    stroke-dasharray: 307 309;
    stroke-dashoffset: 308;
    animation: aWgFSOuJ_draw 66ms ease-in-out 248ms forwards;
}

.aWgFSOuJ_6 {
    stroke-dasharray: 154 156;
    stroke-dashoffset: 155;
    animation: aWgFSOuJ_draw 33ms ease-in-out 315ms forwards;
}

.aWgFSOuJ_7 {
    stroke-dasharray: 263 265;
    stroke-dashoffset: 264;
    animation: aWgFSOuJ_draw 57ms ease-in-out 348ms forwards;
}

.aWgFSOuJ_8 {
    stroke-dasharray: 307 309;
    stroke-dashoffset: 308;
    animation: aWgFSOuJ_draw 66ms ease-in-out 405ms forwards;
}

.aWgFSOuJ_9 {
    stroke-dasharray: 242 244;
    stroke-dashoffset: 243;
    animation: aWgFSOuJ_draw 52ms ease-in-out 472ms forwards;
}

.aWgFSOuJ_10 {
    stroke-dasharray: 153 155;
    stroke-dashoffset: 154;
    animation: aWgFSOuJ_draw 33ms ease-in-out 525ms forwards;
}

.aWgFSOuJ_11 {
    stroke-dasharray: 263 265;
    stroke-dashoffset: 264;
    animation: aWgFSOuJ_draw 57ms ease-in-out 558ms forwards;
}

.aWgFSOuJ_12 {
    stroke-dasharray: 203 205;
    stroke-dashoffset: 204;
    animation: aWgFSOuJ_draw 44ms ease-in-out 615ms forwards;
}

.aWgFSOuJ_13 {
    stroke-dasharray: 263 265;
    stroke-dashoffset: 264;
    animation: aWgFSOuJ_draw 57ms ease-in-out 659ms forwards;
}

.aWgFSOuJ_14 {
    stroke-dasharray: 310 312;
    stroke-dashoffset: 311;
    animation: aWgFSOuJ_draw 67ms ease-in-out 717ms forwards;
}

.aWgFSOuJ_15 {
    stroke-dasharray: 210 212;
    stroke-dashoffset: 211;
    animation: aWgFSOuJ_draw 45ms ease-in-out 784ms forwards;
}

.aWgFSOuJ_16 {
    stroke-dasharray: 55 57;
    stroke-dashoffset: 56;
    animation: aWgFSOuJ_draw 12ms ease-in-out 830ms forwards;
}

.aWgFSOuJ_17 {
    stroke-dasharray: 203 205;
    stroke-dashoffset: 204;
    animation: aWgFSOuJ_draw 44ms ease-in-out 842ms forwards;
}

.aWgFSOuJ_18 {
    stroke-dasharray: 242 244;
    stroke-dashoffset: 243;
    animation: aWgFSOuJ_draw 52ms ease-in-out 886ms forwards;
}

.aWgFSOuJ_19 {
    stroke-dasharray: 239 241;
    stroke-dashoffset: 240;
    animation: aWgFSOuJ_draw 51ms ease-in-out 939ms forwards;
}

.aWgFSOuJ_20 {
    stroke-dasharray: 240 242;
    stroke-dashoffset: 241;
    animation: aWgFSOuJ_draw 52ms ease-in-out 990ms forwards;
}

.aWgFSOuJ_21 {
    stroke-dasharray: 407 409;
    stroke-dashoffset: 408;
    animation: aWgFSOuJ_draw 88ms ease-in-out 1043ms forwards;
}

.aWgFSOuJ_22 {
    stroke-dasharray: 240 242;
    stroke-dashoffset: 241;
    animation: aWgFSOuJ_draw 52ms ease-in-out 1131ms forwards;
}

.aWgFSOuJ_23 {
    stroke-dasharray: 286 288;
    stroke-dashoffset: 287;
    animation: aWgFSOuJ_draw 62ms ease-in-out 1183ms forwards;
}

.aWgFSOuJ_24 {
    stroke-dasharray: 246 248;
    stroke-dashoffset: 247;
    animation: aWgFSOuJ_draw 53ms ease-in-out 1245ms forwards;
}

.aWgFSOuJ_25 {
    stroke-dasharray: 239 241;
    stroke-dashoffset: 240;
    animation: aWgFSOuJ_draw 51ms ease-in-out 1299ms forwards;
}

.aWgFSOuJ_26 {
    stroke-dasharray: 262 264;
    stroke-dashoffset: 263;
    animation: aWgFSOuJ_draw 56ms ease-in-out 1351ms forwards;
}

.aWgFSOuJ_27 {
    stroke-dasharray: 203 205;
    stroke-dashoffset: 204;
    animation: aWgFSOuJ_draw 44ms ease-in-out 1408ms forwards;
}

.aWgFSOuJ_28 {
    stroke-dasharray: 139 141;
    stroke-dashoffset: 140;
    animation: aWgFSOuJ_draw 30ms ease-in-out 1452ms forwards;
}

.aWgFSOuJ_29 {
    stroke-dasharray: 263 265;
    stroke-dashoffset: 264;
    animation: aWgFSOuJ_draw 57ms ease-in-out 1482ms forwards;
}

.aWgFSOuJ_30 {
    stroke-dasharray: 153 155;
    stroke-dashoffset: 154;
    animation: aWgFSOuJ_draw 33ms ease-in-out 1539ms forwards;
}

.aWgFSOuJ_31 {
    stroke-dasharray: 331 333;
    stroke-dashoffset: 332;
    animation: aWgFSOuJ_draw 71ms ease-in-out 1573ms forwards;
}

.aWgFSOuJ_32 {
    stroke-dasharray: 242 244;
    stroke-dashoffset: 243;
    animation: aWgFSOuJ_draw 52ms ease-in-out 1645ms forwards;
}

.aWgFSOuJ_33 {
    stroke-dasharray: 154 156;
    stroke-dashoffset: 155;
    animation: aWgFSOuJ_draw 33ms ease-in-out 1697ms forwards;
}

.aWgFSOuJ_34 {
    stroke-dasharray: 307 309;
    stroke-dashoffset: 308;
    animation: aWgFSOuJ_draw 66ms ease-in-out 1731ms forwards;
}

.aWgFSOuJ_35 {
    stroke-dasharray: 154 156;
    stroke-dashoffset: 155;
    animation: aWgFSOuJ_draw 33ms ease-in-out 1797ms forwards;
}

.aWgFSOuJ_36 {
    stroke-dasharray: 263 265;
    stroke-dashoffset: 264;
    animation: aWgFSOuJ_draw 57ms ease-in-out 1831ms forwards;
}

.aWgFSOuJ_37 {
    stroke-dasharray: 307 309;
    stroke-dashoffset: 308;
    animation: aWgFSOuJ_draw 66ms ease-in-out 1888ms forwards;
}

.aWgFSOuJ_38 {
    stroke-dasharray: 242 244;
    stroke-dashoffset: 243;
    animation: aWgFSOuJ_draw 52ms ease-in-out 1955ms forwards;
}

.aWgFSOuJ_39 {
    stroke-dasharray: 153 155;
    stroke-dashoffset: 154;
    animation: aWgFSOuJ_draw 33ms ease-in-out 2007ms forwards;
}

.aWgFSOuJ_40 {
    stroke-dasharray: 263 265;
    stroke-dashoffset: 264;
    animation: aWgFSOuJ_draw 57ms ease-in-out 2041ms forwards;
}

.aWgFSOuJ_41 {
    stroke-dasharray: 203 205;
    stroke-dashoffset: 204;
    animation: aWgFSOuJ_draw 44ms ease-in-out 2098ms forwards;
}

.aWgFSOuJ_42 {
    stroke-dasharray: 263 265;
    stroke-dashoffset: 264;
    animation: aWgFSOuJ_draw 57ms ease-in-out 2142ms forwards;
}

.aWgFSOuJ_43 {
    stroke-dasharray: 310 312;
    stroke-dashoffset: 311;
    animation: aWgFSOuJ_draw 67ms ease-in-out 2199ms forwards;
}

.aWgFSOuJ_44 {
    stroke-dasharray: 210 212;
    stroke-dashoffset: 211;
    animation: aWgFSOuJ_draw 45ms ease-in-out 2267ms forwards;
}

.aWgFSOuJ_45 {
    stroke-dasharray: 55 57;
    stroke-dashoffset: 56;
    animation: aWgFSOuJ_draw 12ms ease-in-out 2312ms forwards;
}

.aWgFSOuJ_46 {
    stroke-dasharray: 203 205;
    stroke-dashoffset: 204;
    animation: aWgFSOuJ_draw 44ms ease-in-out 2324ms forwards;
}

.aWgFSOuJ_47 {
    stroke-dasharray: 402 404;
    stroke-dashoffset: 403;
    animation: aWgFSOuJ_draw 87ms ease-in-out 2369ms forwards;
}

.aWgFSOuJ_48 {
    stroke-dasharray: 239 241;
    stroke-dashoffset: 240;
    animation: aWgFSOuJ_draw 51ms ease-in-out 2456ms forwards;
}

.aWgFSOuJ_49 {
    stroke-dasharray: 240 242;
    stroke-dashoffset: 241;
    animation: aWgFSOuJ_draw 52ms ease-in-out 2508ms forwards;
}

.aWgFSOuJ_50 {
    stroke-dasharray: 407 409;
    stroke-dashoffset: 408;
    animation: aWgFSOuJ_draw 88ms ease-in-out 2560ms forwards;
}

.aWgFSOuJ_51 {
    stroke-dasharray: 240 242;
    stroke-dashoffset: 241;
    animation: aWgFSOuJ_draw 52ms ease-in-out 2648ms forwards;
}

.aWgFSOuJ_52 {
    stroke-dasharray: 286 288;
    stroke-dashoffset: 287;
    animation: aWgFSOuJ_draw 62ms ease-in-out 2700ms forwards;
}

.aWgFSOuJ_53 {
    stroke-dasharray: 246 248;
    stroke-dashoffset: 247;
    animation: aWgFSOuJ_draw 53ms ease-in-out 2763ms forwards;
}

.aWgFSOuJ_54 {
    stroke-dasharray: 239 241;
    stroke-dashoffset: 240;
    animation: aWgFSOuJ_draw 51ms ease-in-out 2816ms forwards;
}

.aWgFSOuJ_55 {
    stroke-dasharray: 262 264;
    stroke-dashoffset: 263;
    animation: aWgFSOuJ_draw 56ms ease-in-out 2868ms forwards;
}

.aWgFSOuJ_56 {
    stroke-dasharray: 203 205;
    stroke-dashoffset: 204;
    animation: aWgFSOuJ_draw 44ms ease-in-out 2925ms forwards;
}

.aWgFSOuJ_57 {
    stroke-dasharray: 139 141;
    stroke-dashoffset: 140;
    animation: aWgFSOuJ_draw 30ms ease-in-out 2969ms forwards;
}

@keyframes aWgFSOuJ_draw {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes aWgFSOuJ_fade {
    0% {
        stroke-opacity: 1;
    }
    94.44444444444444% {
        stroke-opacity: 1;
    }
    100% {
        stroke-opacity: 0;
    }
}